name: Snyk SCA

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  snyk-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' # Ensure this matches your project
          cache: 'pip'           # OPTIONAL: Caches dependencies to make future runs faster

      - name: Install Dependencies
        # FIXED: Point to app/requirements.txt
        run: |
          pip install -r app/requirements.txt

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          # FIXED: Point Snyk to the specific file path inside app/
          args: --severity-threshold=high --file=app/requirements.txt

      - name: Upload result to Snyk Dashboard
        uses: snyk/actions/python@master
        if: github.ref == 'refs/heads/main'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          # FIXED: Point Snyk to the specific file path inside app/
          args: --file=app/requirements.txt