name: Unit Test

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - '.github/workflows/test.yaml'

jobs:
  test:
    name: Run Pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.14
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f app/requirements.txt ]; then pip install --no-cache-dir -r app/requirements.txt; fi

      - name: Run tests
        run: |
          cd app
          pytest --cov-fail-under=80
